# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Identify commonly used Data Science libraries.
* Recognize open-source development environment tools.
* Demonstrate basic arithmetic operations in Python.
* Become familiar with markdown formatting in Jupyter Notebooks.

Some of the popular languages that Data Scientists use are:

1.  **Python**
2.  **R** 
3.  **SQL** 
4.  **Julia**

Some of the commonly used libraries used by Data Scientists include:

1.  **Pandas (Python)**
2.  **NumPy (Python)**
3.  **Scikit-learn (Python)**
4.  **TensorFlow/PyTorch (Python)**
5.  **Matplotlib/Seaborn (Python)**
6. **ggplot2 (R)**

| Data Science Tools |
|--------------------|
| Jupyter Notebook/Lab |
| RStudio            |
| VS Code (with extensions) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

## Author
Marko Ugrenovic